*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: a;
    src: url(../../font/a.ttf);
}

@font-face {
    font-family: b;
    src: url(../../font/d.ttf);
}

@font-face {
    font-family: c;
    src: url(../../font/g.ttf);
}


.main{
    height: 100%;
    width: 100%;
}

.box{
    height: 300px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #333;
    margin: 10px;

}

.box img{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
/* 
.box1{
    background-image: url(one.webp);
    background-position: center;
    background-size: cover;
    
} 
*/

.box2{
    /* background-image: url(two.webp);
    background-position: center;
    background-size: cover; */
    position: absolute;
    top: 0;
    right: 0;
}

#btn{
    height: 60px;
    width: 100px;
    border-radius: 15px;
    background-color: green;
    color: black;
    box-shadow: 5px 5px 5px black;

    font-family: a;
    font-size: 30px;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#btn2{
    height: 80px;
    width: 150px;
    border-radius: 15px;
    background-color: green;
    color: black;
    box-shadow: 5px 5px 5px black;

    font-family: a;
    line-height: 25px;
    font-size: 25px;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
